
  <div class="row row-links">
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
        <%= button_to '+', upvote_link_path(link) %>
        <h5><%= link.votes.count %></h5>
        <%= button_to '-', downvote_link_path(link) %>
    </div>
    <div class="col-md-9 title-links">
      <h4><%= link_to link.title, link.url %></h4>
      <%= link.user_id %>
      <%= link.subreddit_id %>
    </div>
  </div>
