<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-2 row-votes">
      <%= link_to image_tag('up-arrow.jpeg'), upvote_link_path(link), method: :post %>
      <h5><%= link.votes.count %></h5>
      <% unless link.votes.count == 0 %>
        <%= link_to image_tag('down-arrow.jpeg'), downvote_link_path(link), method: :post %>
      <% end %>
  </div>
  <div class="col-md-9 title-links">
    <h4><%= link_to link.title, visit_link_path(link) %></h4>
    <h6>submitted at <%= link.created_at %> by <%= link.user_id %> to subreddit /r/<%= link.subreddit_id %></h6>
    <%= link_to 'edit this link', edit_link_path(link), class: "btn btn-default btn-xs" %>
    <%= link_to 'destroy this link', link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %>
    <%= link_to 'show newest links', link, class: "btn btn-default btn-xs" %>
  </div>
</div>
