
<div class="container">
  <div class="row">
    <div class="col-md-1">
        <%= button_to '+1', upvote_link_path(link) %>
        <%= pluralize(link.votes.count, "votes") %>
        <%= button_to '-1', downvote_link_path(link) %>
    </div>
    <div class="col-md-8">
      <h4><%= link_to link.title, link.url %></h4>
      <%= link.user_id %>
      <%= link.subreddit_id %>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
