<!DOCTYPE html>
<html>
<head>
  <title>SimpleReddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link type="text/css" rel="stylesheet" href="main.css"/>

</head>
<body>

<header>
  <nav class="navbar">
    subreddit links go here...
  </nav>
  <h2><%= link_to '( o  o ) simple reddit', root_path %></h2>
</header>


<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <%= yield %>
    </div>
    <div class="col-md-2">
      <%= link_to 'Submit a new link', new_link_path, class: "btn btn-default" %>
      <br>
      <%= link_to 'Sign up', signup_path, class: "btn btn-default" %>
      <br>
      <%= link_to 'Login', login_path, class: "btn btn-default" %>
      <br>
      <%= link_to 'Logout', logout_path, method: :delete, class: "btn btn-default" %>
    </div>
  </div>
</div>

</body>
</html>
