<!DOCTYPE html>
<html>
<head>
  <title>SimpleReddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link type="text/css" rel="stylesheet" href="main.css"/>

</head>
<body>

<header>
  <nav class="navbar">
    subreddit links go here...
  </nav>
  <h2><%= link_to '( o  o ) simple reddit', root_path %></h2>
</header>

<%= yield %>

</body>
</html>
